*{ /*selector universal(todos los elementos)*/
    margin: 0; /* quitar margen a todos*/
    padding: 0; /*padding para todos*/
    box-sizing: border-box; /*respeta el ancho maximo de la caja*/
    font-family: 'Darumadrop One', cursive;
}
header{
    display: flex;
    justify-content: flex-start;
    height: 100vh;
}
.botones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100px;
    transition: 3s;
    background-color: #EBE3DB;
    align-items: center;
    box-shadow: 0 10px 20px #A48374;
}
 
.logo img {
    margin-left: 20px;
    width: 350px;
    border-radius: 100px;
    margin-top: 25px;
    margin-left: 45px;
    
}
 body{
    background-color: #eff4f2;
 }